.authenticatedNavigation__container { /* stylelint-disable */
  flex: 1;
  display: flex;
  border-left: 1px solid #EEE;
}

.iconFill {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}