.draftEditor { /* stylelint-disable */
  flex: 1;
  display: flex;
	justify-content: center;
}

.draftEditor blockquote {
	background-color: whitesmoke;
  border-left: 5px solid #dbdbdb;
  padding: 1.5em;
}

.draftEditor h1, h2 {
	font-family: Arial, Helvetica, sans-serif;
}

.draftEditorContainer {
	width: 50vw;
	margin: 20px auto 0px auto;
	position: relative;
	line-height: 28px;
	font-size: 17px;
}

.inlineToolbar {
	position: absolute;
	height: 50px;
	font-family: Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 200;
	background-color: white;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
	z-index: 3;
	border-radius: 2px;
	min-width: 380px;
	display: flex;
	justify-content: center;
}

.inlineToolbarButton {
	height: 100%;
	text-transform: capitalize;
	padding: 0px 16px;
	color: #E2E2E2;
}

.inlineToolbarButton:hover {
	color: rgba(0,0,0,0.7);
}

.inlineToolbarButton:first-of-type {
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
}

.inlineToolbarButton:last-of-type {
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}


.inlineToolbar::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: -7px;
  background: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-left-radius: 1px;
  left: 50%;
  border-right: 2px solid rgba(0, 0, 0, .2);
  border-bottom: 2px solid rgba(0, 0, 0, .2);
}

.sideToolbar {
	position: absolute;
	display: flex;
	flex-direction: row;
	left: -70px;
}

.sideToolbar div {
	margin: 0 5px;
}

.sideToolbarMenu {
	height: 50px;
	background-color: white;
	position: absolute;
	z-index: 3;
	width: 300px;
	bottom: 33px;
	display: flex;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
	border-radius: 2px;
	right: -135px;
}

.sideToolbarMenu button {
	flex: 1;
	font-family: 'Droid Serif', Georgia, serif;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 300;
	margin: 0px 3px;
}

.sideToolbarMenu::after {
	content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: -7px;
  background: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top-left-radius: 1px;
  left: 50%;
  border-right: 2px solid rgba(0, 0, 0, .2);
  border-bottom: 2px solid rgba(0, 0, 0, .2);
}

.buttonContainer {
	display: flex;
	flex: 1;
	height: 100%;
}