.account { /* stylelint-disable */
  flex: 1;
  display: flex;
  flex-direction: row;
  font-family: 'Helvetica Neue';
}


.account__section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.account__sectionContainer {
  margin: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.account__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.login__input {
  padding: 10px 15px;
  border: 1px solid #EEE;
  border-radius: 4px;
  width: 300px;
  display: block;
  margin: 10px;
}

.login__input:focus {
  outline: 0;
  border-color: black;
}

.login__buttonSeperator::before {
  content: '';
  position: relative;
  width: 3vw;
  background-color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  height: 2px;
  bottom: 3px;
  margin-right: 10px;
}

.login__buttonSeperator::after {
  content: '';
  position: relative;
  width: 3vw;
  background-color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  height: 2px;
  bottom: 3px;
  margin-left: 10px;
}


.login__buttonSeperator {
  margin: 20px 0px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}