/**
 * styles.css
 *
 * App container styles
 */

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  flex-direction: column;
  font-family: Georgia, serif;
  color: rgba(0,0,0,.8);
}

.appContainer {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  background-color: white;
}

p {
  font-size: 20px;
}