/**
 * styles.css
 *
 * App container styles
 */

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  max-width: 100vw;
  flex-direction: column;
  font-family: 'Droid Serif', serif;
  color: #4c4c4c;
}

.appContainer {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #f9f9f9;
  display: flex;
}

p {
  font-size: 20px;
}